certifi==2018.11.29
chardet==3.0.4
ChatterBot==1.0.1
chatterbot-corpus==1.2.0
Click==7.0
Flask==1.0.2
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mathparse==0.1.2
nltk==3.4
Pint==0.9
prompt-toolkit==2.0.8
pymessenger==0.0.7.0
pymongo==3.7.2
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
requests==2.21.0
requests-toolbelt==0.8.0
singledispatch==3.4.0.3
six==1.12.0
SQLAlchemy==1.2.17
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.14.1
wit==5.1.0
